<template>
    <div id="mainVisual" class="bg">
        <h1 class="pageTtl">
            <img :src="url" :width="width" :height="height" alt="イーディアスについて ABOUT"/>
        </h1>
    </div>
</template>

<script>
  export default {
    name: 'mainVisual01',
    props: ['url','width','height']
  }

</script>

