<template>
    <ol id="pagePath">
        <li><a href="/">{{item1}}</a>&gt;</li>
        <li>{{item2}}</li>
	</ol>
</template>


<script>
  export default {
    name: 'breadcrumb',
    props: ['item1','item2'],
  }

</script>
