<template>
  <div id="container">
    <app-header></app-header>
    <app-breadcrumb item1="株式会社イーディアス ホーム" item2="イーディアスについて"></app-breadcrumb>
    <div id="main">
      <app-mainvisual01 url="https://ii-deais.co.jp/img/about/page_ttl.png"></app-mainvisual01>
      <div id="conts" class="contsSet">
        <div class="logo">
          <img src="https://ii-deais.co.jp/img/about/logo.png" width="200" height="166" alt="株式会社 イーディアス">
        </div>

        <div class="sentence">
          <p class="lead"><strong><img src="https://ii-deais.co.jp/img/about/ttl01.png" width="937" height="56"
                alt="最適な出会いを、日本の企業に。"></strong>
          </p>
          <p class="lead">
            <strong>
              私たちは、日本全国の人事担当者が抱えるさまざまな課題に対して、<br>
              その解決の一助となる「最適な出会い」を創造します。<br>
              情報・人材・仕組みと出会うことによって、日本の企業が発展すること、<br>
              そして活力ある社会が実現することがイーディアスの願いです。
            </strong>
          </p>
          <p>
            人事は「人材」に関するあらゆる業務を扱い、抱える課題の範囲も広く複雑です。<br>
            さらに、企業の規模や業種、将来のビジョンといった複数の要因でその課題は変化します。
          </p>
          <p>企業独自の課題を解決するため、どんな知識が必要でしょうか。どのくらい時間をかけられるのでしょうか。</p>
          <p>
            私たちが目指すのは「人事向け総合サービス会社」です。<br>
            <em class="em">数々の企業の採用課題を解決した実績と、フリーペーパーの制作で培った人脈と事例・情報によって、<br>
              人事の悩みや課題に対し最適な解を導き出します。</em>
          </p>
          <p>人事担当者へ、<em class="em">情報との最適な出会いを提供</em>することが、私たちイーディアスの仕事です。</p>
        </div>

        <section class="contsBox value">
          <h2 class="ttl01">イーディアスの提供価値</h2>
          <p class="text">イーディアスは人事の皆様との共創によって提供価値を高めていきます。</p>
          <p><img src="https://ii-deais.co.jp/img/about/img03.png" width="646" height="302"
              alt="共創 新たな価値を共に創る 1提供価値 2人事 "></p>
          <div class="imgBox clearfix">
            <div class="imgLeft">
              <img src="https://ii-deais.co.jp/img/about/img04.jpg" width="300" height="120" alt="">
              <dl>
                <dt>コンサルティング×<br>
                  クリエイティブ×情報力</dt>
                <dd>人事が抱える課題に対して、総合的な解決手段を提示することが私たちのサービスです。潜在的な真の課題を見つけ出し、その解決策となる情報を最適な形でお届けします。<em
                    class="em">最適な解はコンサルティングとクリエイティブ、そして情報力を持って生み出されます。</em></dd>
              </dl>
            </div>
            <div class="imgCenter">
              <img src="https://ii-deais.co.jp/img/about/img05.jpg" width="300" height="120" alt="">
              <dl>
                <dt>人事業務の仕組化</dt>
                <dd>企業によって人材の課題は異なるため、人事が抱える課題の解決策も異なります。その解決策が何かという気付きを与え、<em
                    class="em">真に必要な情報やサービスを提供し、膨大な人事の業務を仕組化して効率化すること。</em>それが私たちイーディアスの使命です。</dd>
              </dl>
            </div>
            <div class="imgRight">
              <img src="https://ii-deais.co.jp/img/about/img06.jpg" width="300" height="120" alt="">
              <dl>
                <dt>知のオープン化と共創</dt>
                <dd>
                  企業へのコンサルティングや取材で獲得した知識をサービスとして提供します。課題解決により得た情報は、さらに他の人事が活用できる知識として提供。この人事とともにつくるサイクルこそが、イーディアスが目指す<em
                    class="em">知のオープン化と共創</em>です。</dd>
              </dl>
            </div>
          </div>
        </section>

        <section class="contsBox">
          <h2 class="ttl01">イーディアスのサービス</h2>
          <p class="infoImg">
            <img src="https://ii-deais.co.jp/img/about/img07.png" width="606" height="555"
              alt="情報ナレッジ 1「情報」と出会う@人事 2「仕組み」と出会う 採用コンサルティング 3「サービス」と出会う 人事向けサービス総合代理店">
            <a href="#noscrl" data-link="#atjinnji" class="noscrl arror01"><img
                src="https://ii-deais.co.jp/img/about/arror01_out.png" width="61" height="61" alt=""></a>
            <a href="#consulting" data-link="#consulting" class="noscrl arror02"><img
                src="https://ii-deais.co.jp/img/about/arror02_out.png" width="61" height="61" alt=""></a>
            <a href="#agency" data-link="#agency" class="noscrl arror03"><img
                src="https://ii-deais.co.jp/img/about/arror03_out.png" width="61" height="61" alt=""></a>
          </p>

          <section id="atjinnji">
            <h3 class="ttl04">人と人をつなぐ、人事のための総合メディア ＠人事</h3>
            <section>
              <h4 class="ttl">「情報」と出会う　～人事が必要とする情報発信～</h4>
              <div class="clearfix">
                <div class="lBox">
                  <p>
                    フリーペーパー＆Webサイト「＠人事」は、人事担当者が知りたい情報を知りたいときに手に入れられるよう、具体的な施策やナレッジを集約させた、新しいメディアです。旬なニュースをはじめ、他社の成功事例や人事担当者のスキルアップ術、魅力的な人事向けサービスといった有益な情報を人事担当者にお届けします。
                  </p>
                </div>
                <div class="rBox">
                  <img src="https://ii-deais.co.jp/img/about/text_img.png" width="321" height="148" alt="">
                </div>
              </div>

              <div class="listBox01 clearfix">
                <div class="list01 tile04">
                  <img src="https://ii-deais.co.jp/img/about/icon10.png" width="52" height="52" alt="">
                  <dl>
                    <dt>＠人事<br>
                      フリーペーパー</dt>
                    <dd>人事担当者に役立つ情報を集めたフリーペーパーです。企業の成功事例や人事担当者の対談、著名人のコラムなどを掲載しています。</dd>
                  </dl>
                </div>
                <div class="list01 tile04">
                  <img src="https://ii-deais.co.jp/img/about/icon07.png" width="56" height="52" alt="">
                  <dl>
                    <dt>＠人事<br>
                      ポータルサイト</dt>
                    <dd>フリーペーパーと同様に、人事に役立つ情報を発信します。配信記事だけでなく、＠人事が主催するセミナー受講や講師募集への応募、サービスへの問い合わせが可能です。</dd>
                  </dl>
                </div>
                <div class="list01 tile04">
                  <img src="https://ii-deais.co.jp/img/about/icon08.png" width="50" height="52" alt="">
                  <dl>
                    <dt>人事向け<br>
                      サービスガイド</dt>
                    <dd>＠人事と提携する、人事向けのサービスを提供する会社を一覧で掲載しています。あらゆるサービスを網羅し、選び方や利用方法もご相談いただけます。</dd>
                  </dl>
                </div>
                <div class="list01 tile04">
                  <img src="https://ii-deais.co.jp/img/about/icon09.png" width="54" height="52" alt="">
                  <dl>
                    <dt>セミナー<br>
                      ＆交流会</dt>
                    <dd>＠人事では、年に4回セミナーと交流会を開催しています。実施セミナーは＠人事ポータルサイトで動画配信し、編集したDVDの販売も行います。</dd>
                  </dl>
                </div>
              </div>
              <p class="linkText01"><a href="https://at-jinji.jp" target="_blank">＠人事 Webサイトはこちら</a></p>
            </section>
          </section>

          <section id="consulting" class="contsBox">
            <h3 class="ttl04">採用コンサルティング</h3>

            <section>
              <h4 class="ttl">「仕組み」と出会う　～採用課題解決のための仕組みづくり～</h4>
              <p class="contsText">
                人事の業務領域の中で大きな割合を占める「採用」に特化したサービスです。イーディアスの採用コンサルタントがクライアントのパートナーとなり、年間単位で最適な採用活動をサポートするサービスです。
              </p>

              <div class="listBox01 listBox02">
                <div class="inner">
                  <div class="list02 tile03">
                    <div class="img">
                      <img src="https://ii-deais.co.jp/img/about/icon12.png" width="54" height="56" alt="">
                    </div>
                    <dl>
                      <dt>採用業務アウトソーシング</dt>
                      <dd>ホスピタリティと状況判断力をもって、採用の判断を除くすべて、または一部の業務を代行し、担当者が中核業務に集中できるよう支援します。</dd>
                    </dl>
                  </div>
                  <div class="list02 tile03">
                    <div class="img">
                      <img src="https://ii-deais.co.jp/img/about/icon11.png" width="56" height="56" alt="">
                    </div>
                    <dl>
                      <dt>情報提供力</dt>
                      <dd>イーディアスがこれまでのコンサルティング経験や人事向け情報誌の制作で獲得した、各社の状況と成功事例をご提供します。</dd>
                    </dl>
                  </div>
                  <div class="list02 tile03">
                    <div class="img">
                      <img src="https://ii-deais.co.jp/img/about/icon13.png" width="48" height="56" alt="">
                    </div>
                    <dl>
                      <dt>採用ツール制作</dt>
                      <dd>コンサルティングによる深い理解に基づいて採用ツールを制作するため、企業の価値や魅力を正確に伝えられ、効率とクオリティも両立できます。</dd>
                    </dl>
                  </div>
                </div>
                <div class="inner">
                  <div class="list02 tile03">
                    <div class="img">
                      <img src="https://ii-deais.co.jp/img/about/icon15.png" width="48" height="56" alt="">
                    </div>
                    <dl>
                      <dt>仕組化</dt>
                      <dd>イーディアスが多くの成功事例から得た採用活動の「仕組み」を利用することで、経験や知識がなくとも運用できるよう支援します。</dd>
                    </dl>
                  </div>
                  <div class="list02 tile03">
                    <div class="img">
                      <img src="https://ii-deais.co.jp/img/about/icon14.png" width="56" height="56" alt="">
                    </div>
                    <dl>
                      <dt>効率化と省力化</dt>
                      <dd>データやテンプレートの整理、アウトソース活用などで業務の省力化・効率化を図り、“採用担当者しかできないこと”に集中できる環境をご用意します。</dd>
                    </dl>
                  </div>
                  <div class="list02 tile03">
                    <div class="img">
                      <img src="https://ii-deais.co.jp/img/about/icon16.png" width="48" height="56" alt="">
                    </div>
                    <dl>
                      <dt>改善と施策実行</dt>
                      <dd>定期訪問によって企業の細かな変化を読み取り、“想定外の出来事”があっても、迅速かつ柔軟に次の策を講じます。</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <p class="linkText02"><a href="/solution/#consulting">採用コンサルティングについて詳しくはこちら</a></p>
            </section>
          </section>

          <section id="agency" class="contsBox">
            <h4 class="ttl04">人事向けサービス総合代理店</h4>
            <section>
              <h5 class="ttl">「サービス」と出会う　～人事が必要とするサービスの紹介～</h5>
              <p class="contsText">
                イーディアスが「＠人事」の制作を通じて出会った、「人事に役立つ」サービスを提供する会社との橋渡しを行います。人事と情報との出会いを創造すること。どのサービスを利用したらいいか、自分たちでやるべき範囲はどこか、などの相談に応じ、人事担当者の省力化と効率化を支援します。
              </p>
            </section>
          </section>
        </section>
      </div><!-- /#conts -->
    </div>
    <app-aside></app-aside>
    <app-footer></app-footer>
  </div>
</template>

<script>
  import Header from '../components/header/header.vue';
  import Aside from '../components/aside/aside.vue';
  import Footer from '../components/footer/footer.vue';
  import Mainvisual01 from '../components/mainvisual/mainvisual01.vue';
  import Breadcrumb from '../components/breadcrumb/breadcrumb.vue';

  export default {
    name: 'about',
    components: {
      'app-header': Header,
      'app-aside': Aside,
      'app-footer': Footer,
      'app-mainvisual01': Mainvisual01,
      'app-breadcrumb': Breadcrumb,
    },
  }

</script>
<style>
  @import url('/src/assets/about.css');
</style>
