<template>
  <div id="container">
    <app-header></app-header>
    <app-breadcrumb item1="株式会社イーディアスホーム" item2="サービスに関するFAQ"></app-breadcrumb>
    <main id="main">
      <app-mainvisual01 url="https://ii-deais.co.jp/img/faq/page_ttl.png" width="378" height="72"></app-mainvisual01>
      <div id="conts" class="contsSet">
        <section class="faq" v-for="(q, index) in questions" :key="q.id">
          <app-box1 :class="{ 'is-first' : index === 0}" :questions="q.question" :answer="q.answer"></app-box1>
        </section>
      </div>
    </main>
    <app-aside></app-aside>
    <app-footer></app-footer>
  </div>
</template>

<script>
  import Header from '../components/header/header';
  import Aside from '../components/aside/aside';
  import Footer from '../components/footer/footer';
  import Mainvisual01 from '../components/mainvisual/mainvisual01';
  import Breadcrumb from '../components/breadcrumb/breadcrumb';
  import Box1 from '../components/box/box1';

  export default {
    name: 'faq',
    data() {
      return {
        questions: [{
            question: 'コンサルティングサービスの費用には、採用ツールの制作費も含まれているのでしょうか？',
            answer: 'はい、含まれております。大まかなスケジュールと施策内容を協議した上でご契約となりますが、その際、各種採用ツールの制作費も含めてご提案いたします。'
          },
          {
            question: '各サービス、例えば採用サイトの制作だけを申し込むことはできますか？',
            answer: '採用プロモーションツールの制作のみ、コンサルティングのみ、採用アウトソースのみといった個別のお申し込みができます。'
          },
          {
            question: '月額ってどういうことですか？',
            answer: 'ご契約前に達成目標とスケジュールをご提案いたします。達成に必要な体制・布陣によって当社の月間の最大作業時間が決まりますので、その範囲でコンサルティング・実制作を行います。ご予算やスピードなどで増減が可能です。'
          },
          {
            question: 'コンサルサービスの契約期間は最低どのくらいですか？',
            answer: '12ヶ月、または24ヶ月です。採用課題の抽出と解決策のご提示にはどうしても時間が掛かってしまいますし、プロジェクトを進めるうちに発現した課題や必要な制作物などに柔軟に対応するためです。『採用サイトだけ』『入社案内だけ』などの発注も可能で、こちらは単体でのご注文となります。'
          },
          {
            question: '月額制のメリットって何でしょうか？',
            answer: 'イーディアスのコンサルティングサービスの最終目標は「プロの知見を移植し、仕組化する」ことにあります。単なるアドバイスや制作、代行ではなく、課題解決やご提案を通じて採用力を高めるため、原則毎月のご訪問と当事者意識を持った企画提案や施策実施を、お客様とともに実行いたします。'
          },
          {
            question: '費用に含まれるものと含まれないものを教えて下さい。',
            answer: '人事制度の策定や評価、教育など、採用活動から外れることについては対象外ですが、情報提供やアドバイスは可能です。まずはご相談ください。また、印刷費や広告費などは実費をご負担いただきます。'
          },
          {
            question: '訪問はしてくれるのですか？',
            answer: '貴社専任チームによる、採用力を高める体制のご提供と当事者意識、「@人事」を中心とした情報網、クリエイティブチームによる高い成果物の提供、付加価値を生みにくい作業のアウトソースが可能で、これらすべてを自社で一貫して提供できることです。'
          },
          {
            question: '他社との違いや強みは何ですか？',
            answer: '貴社専任チームによる、採用力を高める体制のご提供と当事者意識、「@人事」を中心とした情報網、クリエイティブチームによる高い成果物の提供、付加価値を生みにくい作業のアウトソースが可能で、これらすべてを自社で一貫して提供できることです。'
          },
          {
            question: '制作費込みですか？',
            answer: '制作・企画・コンサルティングなどの区別なく作業時間に含まれております。媒体管理や施設予約、説明会の運営代行などの「アウトソース」については、別途お見積りとなります(コンサルティングサービスよりも安価となります)。'
          },
          {
            question: 'いつからでも契約できますか？',
            answer: '採用シーズンの開始前・途中を問わず、いつからでもご契約が可能です。'
          },
          {
            question: '全国どこでも対応できますか？',
            answer: 'はい、可能です。現在、全都道府県に私たちがご支援している会社様がございます。どの地域の皆様にも質の高いサービスの提供が可能ですのでご安心ください。'
          },
          {
            question: '自社の取り組みが正しいのかがわかりません。まず診断や相談をすることは可能ですか？',
            answer: 'はい、可能です。良質な母集団が十分な量確保できているか、内定辞退率を低下させられないか、採用サイトや入社案内はメッセージを届けられているかなど、ヒアリングに基づいて現状の採用力を診断し、その上で改善策をご提案いたします。まずは無料診断をお申し込み下さい。'
          },
          {
            question: 'インターンは企画だけですか？',
            answer: '複数日にわたる職場体験型のインターンの場合は、その後の学生対応や動機形成の都合から、自社スタッフで行っていただくのがベストです。一方でセミナー型インターン(業界・職種・自己分析など)の場合は、当社で運営・募集の代行をすることも可能です。'
          },
          {
            question: '新卒採用は初めてなのですが対応可能ですか？',
            answer: ''
          },
          {
            question: '月額制のメリットって何でしょうか？',
            answer: 'イーディアスのコンサルティングサービスの最終目標は「プロの知見を移植し、仕組化する」ことにあります。単なるアドバイスや制作、代行ではなく、課題解決やご提案を通じて採用力を高めるため、原則毎月のご訪問と当事者意識を持った企画提案や施策実施を、お客様とともに実行いたします。'
          },
          {
            question: '費用に含まれるものと含まれないものを教えて下さい。',
            answer: '人事制度の策定や評価、教育など、採用活動から外れることについては対象外ですが、情報提供やアドバイスは可能です。まずはご相談ください。また、印刷費や広告費などは実費をご負担いただきます。'
          },
          {
            question: '訪問はしてくれるのですか？',
            answer: 'もちろん可能です。ご予算や目標の設定、人材要件の設定や媒体選定、選考手段やリクルーターの育成まで、すべて一から仕組化いたします。また、採用担当者育成支援も行っていますので、初めてでも安心してお任せ下さい。'
          },
          {
            question: '採用予定数が少なくても問題ありませんか？',
            answer: 'もちろん問題ありません。「景気に関係なく毎年3名」などと採用数を決めている会社は数多くあります。採用人数の少なさは同期の少なさでもありますから、先輩のフォローや費用の圧縮などの対策も合わせて練る必要があります。'
          },
          {
            question: '人手不足の業界ですが、それでも大丈夫でしょうか？',
            answer: '採用難易度が高いときこそ当社をご利用下さい。理系・エンジニア・不人気業界で急成長中など、さまざまなケースで対応可能です。なお、「ターゲット学生そのものが数十名しかいない」など、極端に少ない場合には、お請けできない場合がございます。'
          },
          {
            question: '料金はどのくらいですか？',
            answer: '採用課題によって変動します。標準的なコンサルティングで25～40万円程度になることが多く、採用ツールの制作などが加わると5～15万程度アップすることが多いです。'
          },
          {
            question: '大人数の採用にも対応できますか？',
            answer: 'はい、可能です。数百名・全国各地で採用＆勤務などの支援実績がございます。なお、採用人数が増えても比例して難易度が高くなるということはほとんどの場合ございません'
          },
          {
            question: '採用に専念できるスタッフがいないのですが大丈夫でしょうか？',
            answer: '当社の窓口となっていただく担当者様を決めていただければ対応可能です。イーディアスのコンサルティングは、最終的に仕組化と自社での運用を目標としているため、採用担当者の育成も視野に入れていただきたいところですが･･･。'
          },
        ],
      };
    },
    methods: {

    },
    computed: {

    },
    components: {
      'app-header': Header,
      'app-aside': Aside,
      'app-footer': Footer,
      'app-mainvisual01': Mainvisual01,
      'app-breadcrumb': Breadcrumb,
      'app-box1': Box1,
    }
  }

</script>
<style lang="scss">
  @import url('/src/assets/faq.css');

  #conts {
    .faq {
      .is-first {
        // .txt {
        //   padding: 27px 45px 23px 55px;
        //   height: auto;
        //   border: 1px solid #d6d6d6;
        //   border-top: none;
        // }

        // .ttl {
        //   &:after {
        //     background-image: url(https://ii-deais.co.jp/img/common/icon/icon_close.png);
        //   }
        // }
      }

      .txt {
        display: block;
        transition: padding .55s, height .35s;
        padding: 0 45px 0 55px;
        height: 0;
        border-bottom: none;

        &.show {
          padding: 27px 45px 23px 55px;
          height: auto;
          border: 1px solid #d6d6d6;
          border-top: none;
        }
      }
    }
  }

</style>
