<template>
  <header id="header">
    <p class="txt">採用における課題を「情報発信」で解決する - ii-deais（イーディアス） -</p>
    <div class="inner top">
      <div class="logo"><a href="/"><img src="https://ii-deais.co.jp/img/common/logo.png" width="236" height="30"
            alt="株式会社イーディアス"></a></div>
      <div id="gNavi">
        <ul>
          <li><a href="/about/"><span class="in">イーディアスに<br>ついて</span></a></li>
          <li><a href="/faq/"><span class="in">FAQ</span></a></li>
          <li><a href="/privacy/"><span class="in">個人情報保護方針</span></a></li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
  export default {
    name: 'header'
  }
</script>

<style lang="scss">
  #header {
    .txt {
      text-align: left;
    }
  }

</style>
