<template>
  <footer id="footer">
    <div id="pageTop" @click="scrollToTop($event)"><a href=""><img
          src="https://ii-deais.co.jp/img/common/btn/btn_pagetop.png" width="80" height="80" alt="PAGE TOP"></a></div>
    <div class="top">
      <section class="contact">
        <h3 class="ttl">イーディアスのサービスについてのお問い合わせ・資料請求はこちら</h3>
        <div class="tel">
          <dl>
            <dt><img src="https://ii-deais.co.jp/img/common/tel_txt.png" width="23" height="11" alt="TEL"></dt>
            <dd><img src="https://ii-deais.co.jp/img/common/tel_num.png" width="250" height="30" alt=""></dd>
          </dl>
          <p class="data">［受付時間］平日10:00～18:00（土日祝日は除く）</p>
        </div>
        <div class="mail"><a href="/contact_top/" class="btn"><span class="icon">フォームからのお問い合わせ</span></a></div>
      </section>
    </div>

    <div class="bottom">
      <ul class="subNavi">
        <li><a href="/">ホーム</a></li>
        <li><a href="/about/">イーディアスについて</a></li>
        <li><a href="/solution/">ソリューションのご紹介</a></li>
        <li><a href="/ranking/">採用サイトランキング</a></li>
        <li><a href="/contact_top/">資料請求・お問い合わせ</a></li>
      </ul>

      <ul class="subNavi">
        <li><a href="/company/">会社概要</a></li>
        <li><a href="/faq/">FAQ</a></li>
        <li><a href="/privacy/">個人情報保護方針</a></li>
        <li><a href="/sitemap/">サイトマップ</a></li>
      </ul>

      <p class="copyright"><small>Copyright © ii-deais All Rights Reserved.</small></p>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'footer',
    methods: {
      scrollToTop(event) {
        window.scrollTo(0, 0);
        event.preventDefault();
      },
      handleScroll() {
        let backTop = document.querySelector("#pageTop");
        let header = document.querySelector(".inner");
        if (window.scrollY > 20) {
          backTop.classList.add("is-show");
          header.classList.remove("top");
          header.classList.add("fixSet");
          header.classList.add("fixMove");
        } else if (window.scrollY < 20) {
          backTop.classList.remove("is-show");
          header.classList.add("top");
          header.classList.remove("fixSet");
          header.classList.remove("fixMove");
        }
      }
    },
    created() {
      window.addEventListener('scroll', this.handleScroll);
    },
    destroyed() {
      window.removeEventListener('scroll', this.handleScroll);
    }
  }

</script>
<style lang="scss">
  #pageTop {
    display: block;
    transition: all .3s;
    opacity: 0;

    &.is-show {
      opacity: 1;
    }
  }

</style>
