@charset "UTF-8";
/*------------------------------------------------------------
	イーディアスについて /about/
------------------------------------------------------------*/
#conts .logo {
  margin-top: 65px;
  margin-bottom: 75px;
  text-align: center; }
#conts .lead {
  margin-bottom: 70px; }
#conts > p {
  margin-bottom: 30px; }
#conts .value {
  margin-bottom: 80px; }
#conts .contsBox p {
  text-align: center; }
  #conts .contsBox p.text {
    margin: 0 0 60px 0;
    text-align: center; }
#conts .contsBox .imgBox {
  margin-top: 60px; }
  #conts .contsBox .imgBox .imgLeft, #conts .contsBox .imgBox .imgCenter {
    width: 300px;
    float: left; }
  #conts .contsBox .imgBox .imgCenter {
    margin: 0 30px; }
  #conts .contsBox .imgBox .imgRight {
    width: 300px;
    float: right; }
  #conts .contsBox .imgBox dl {
    margin-top: 15px; }
    #conts .contsBox .imgBox dl dt {
      margin-bottom: 5px;
      color: #004795;
      font-size: 112.5%;
      text-align: center; }
    #conts .contsBox .imgBox dl dd span {
      color: #e5004e; }
#conts .contsBox .infoImg {
  margin-bottom: 80px;
  position: relative; }
  #conts .contsBox .infoImg .arror01 {
    position: absolute;
    top: 178px;
    left: 552px; }
  #conts .contsBox .infoImg .arror02 {
    position: absolute;
    top: 494px;
    left: 364px; }
  #conts .contsBox .infoImg .arror03 {
    position: absolute;
    top: 494px;
    right: 185px; }
#conts .contsBox .lBox {
  width: 595px;
  float: left; }
  #conts .contsBox .lBox p {
    text-align: left; }
#conts .contsBox .rBox {
  margin-top: -30px;
  float: right; }
#conts .contsBox .listBox01 {
  box-sizing: border-box;
  margin-top: 40px;
  padding: 30px 0;
  border: 1px solid #29B6B4;
  text-align: center; }
  #conts .contsBox .listBox01 .list01 {
    box-sizing: border-box;
    width: 238px;
    float: left;
    border-left: 1px solid #D6D6D6; }
    #conts .contsBox .listBox01 .list01:first-child {
      border: none; }
    #conts .contsBox .listBox01 .list01 dl dt {
      margin: 20px 0 10px 0;
      color: #29B6B4;
      line-height: 1.5;
      font-weight: bold;
      text-align: center; }
    #conts .contsBox .listBox01 .list01 dl dd {
      padding: 0 30px;
      font-size: 87.5%;
      text-align: left; }
#conts .contsBox .linkText01 {
  margin-top: 35px;
  margin-bottom: 75px;
  text-align: left; }
  #conts .contsBox .linkText01:before {
    margin-bottom: -3px;
    padding-right: 5px;
    background: url(https://ii-deais.co.jp/img/about/icon02.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    content: ""; }
  #conts .contsBox .linkText01:after {
    margin-left: 5px;
    background: url(https://ii-deais.co.jp/img/about/icon03.png) no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    content: ""; }
  #conts .contsBox .linkText01 a {
    color: #29B6B4; }
#conts .contsBox .contsText {
  margin-bottom: 30px;
  text-align: left; }
#conts .contsBox .listBox02 {
  border: 1px solid #004795;
  padding: 30px; }
  #conts .contsBox .listBox02 .inner {
    width: 900px;
    border-bottom: 1px solid #D6D6D6; }
    #conts .contsBox .listBox02 .inner:after {
      display: block;
      clear: both;
      content: ""; }
    #conts .contsBox .listBox02 .inner + .inner {
      border-bottom: none; }
      #conts .contsBox .listBox02 .inner + .inner .list02 {
        padding-top: 30px;
        padding-bottom: 0; }
  #conts .contsBox .listBox02 .list02 {
    box-sizing: border-box;
    margin-left: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: 290px;
    min-height: 220px;
    border-left: 1px solid #D6D6D6;
    float: left; }
    #conts .contsBox .listBox02 .list02 .img {
      margin: 0 auto;
      min-height: 56px; }
    #conts .contsBox .listBox02 .list02 dl {
      margin-top: 15px; }
      #conts .contsBox .listBox02 .list02 dl dt {
        color: #004795;
        font-weight: bold; }
      #conts .contsBox .listBox02 .list02 dl dd {
        margin-top: 10px;
        font-size: 87.5%;
        text-align: left; }
    #conts .contsBox .listBox02 .list02:first-child {
      margin-left: 0;
      padding-left: 0;
      width: 260px;
      border-left: none; }
#conts .contsBox .linkText02 {
  margin: 35px 0 75px 0;
  text-align: left; }
  #conts .contsBox .linkText02:before {
    margin-bottom: -3px;
    padding-right: 5px;
    background: url(https://ii-deais.co.jp/img/about/icon05.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    content: ""; }
  #conts .contsBox .linkText02 a {
    color: #004795; }
#conts #atjinnji .ttl, #conts #consulting .ttl, #conts #agency .ttl {
  margin-bottom: 15px;
  font-size: 125%;
  font-weight: normal; }
#conts #atjinnji .ttl04 {
  border-bottom: 1px solid #29B6B4; }
  #conts #atjinnji .ttl04:before {
    background-image: url(https://ii-deais.co.jp/img/about/icon01.png); }
#conts #atjinnji .ttl {
  color: #29B6B4; }
#conts #consulting .ttl {
  color: #004795; }
#conts #agency .ttl04 {
  border-bottom-color: #E5004E; }
  #conts #agency .ttl04:before {
    background-image: url(https://ii-deais.co.jp/img/about/icon06.png); }
#conts #agency .ttl {
  color: #E5004E; }
#conts #agency .contsText {
  margin-bottom: 0; }
