<template>
  <div class="c-box1">
    <h2 class="ttl" v-on:click="toggleClass" v-bind:class="{ open: isActive }"><span class="icon">Q.</span>{{questions}}
    </h2>
    <div class="txt" v-bind:class="{ show : isActive }"><span class="icon">A.</span>{{answer}}</div>
  </div>
</template>

<script>
  export default {
    name: 'box1',
    props: ['questions', 'answer'],
    data() {
      return {
        isActive: false,
      };
    },
    methods: {
      toggleClass() {
        let section = document.querySelector(".c-box1");
        let ttl = document.querySelector(".c-box1.is-first .ttl");
        let txt = document.querySelector(".c-box1.is-first .txt");
        if (!section.className.includes("is-first")) {
          section.classList.remove("is-first");
          ttl.classList.remove("open");
          txt.classList.remove("show");
        } else {
          this.isActive = !this.isActive;
        }
      }
    },
    mounted() {
      let section = document.querySelector(".c-box1");
      let ttl = document.querySelector(".c-box1.is-first .ttl");
      let txt = document.querySelector(".c-box1.is-first .txt");
      ttl.classList.add("open");
      txt.classList.add("show");
    }
  }

</script>
